*{
    margin:0;
    padding:0;
}
#arriba {
position: fixed;
margin:auto;
width:100%;
font-family:Arial, Helvetica, sans-serif;
background: white;
}
#arriba2 {
margin:auto;
width:1240px;
height: 30px;
font-family:Open Sans,Arial,sans-serif;
font-size: .75em;
background:#242424;
color: #6b6b6b;
letter-spacing: .25em;
line-height: 3em;
}
#header{
    margin: auto;
    width: 1240px;
    font-family:Arial, Helvetica, sans-serif;
}
ul, ol{
    list-style: none;
}
.nav > li {
    float:left;
}
    .nav li a {
    background: #b7b7b7;
    color:#00028c;
    text-align: center;
    text-decoration:none;
    font-family:open Sans, Arial,sans-serif;
    padding:10px 12px;
    display:block;
    }
    .nav li a:hover {
    background:#030303;
    }
    .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
    z-index: 100;
    }
    .nav li:hover > ul {
    display:block;
    }
    .nav li ul li {
    position:relative;
    }
    .nav li ul li {
        right: -10px;
        top: 0px;
    }
    #salir{
background: #EB5A5A;
color: white;
    }